@tailwind base;
@tailwind components;
@tailwind utilities;

.main-wrapper {
    @apply max-w-screen-xl mx-auto;
}

.header {
    @apply px-2 border-b flex items-center justify-between h-14; /* задаємо h-14 - стандартну висоту для хедера для того щоб при зменшенні розширення при зникненні посилань хедера його висота не змінювалася - "не скакала на різну висоту" */
}

.header-logo {
    @apply uppercase font-bold text-purple-800 focus:outline-none focus:ring focus:ring-violet-300;
}

.header-nav {
    @apply hidden md:flex items-center;
}

.header-nav_ul {
    @apply font-medium text-orange-300 inline-flex items-center;
}

.header-nav_ul_li_a {
    @apply inline-block py-3 px-2 border-b-2 border-transparent hover:text-purple-800 hover:border-purple-800 focus:outline-none focus:ring focus:ring-violet-300;
}

.header-nav_ul_buttons {
    @apply flex items-center;
}

.header-nav_ul_li_buttons {
    @apply py-1 px-3 border-2 rounded-full border-indigo-600 text-indigo-600 hover:text-white hover:bg-indigo-800 focus:outline-none focus:ring focus:ring-violet-300 ml-2;
}

.header-burger-button {
    @apply inline-block md:hidden;
}

.header-burger-button-svg {
    @apply w-6 h-6;
}

.breadcrumbs-div1 {
    @apply px-2 flex items-center;
}

.breadcrumbs-div2 {
    @apply py-4 overflow-y-auto whitespace-nowrap flex items-center;
}

.breadcrumbs-a {
    @apply text-gray-600 hover:text-gray-900 hover:font-bold focus:outline-none focus:ring focus:ring-violet-300;
}

.breadcrumbs-span {
    @apply mx-2 text-gray-300;
}

.breadcrumbs-span-svg {
    @apply w-5 h-5;
}

.banner-section {
    @apply w-full p-1 lg:flex;
}

.banner-section-a_1 {
    @apply w-full lg:w-2/3 bg-gradient-to-tr from-indigo-300 via-blue-400 to-indigo-600 hover:to-indigo-500/40 hover:from-indigo-600/70 h-96 mb-4 mr-2 relative rounded inline-block overflow-hidden;
}

.banner-section-a_2 {
    @apply w-full bg-pink-400 h-48 lg:w-1/3 lg:bg-indigo-400 lg:h-96 mb-4 relative rounded inline-block overflow-hidden;
}

.banner-section-a-div1 {
    @apply absolute left-0 top-0 w-full h-full z-10 bg-gradient-to-b from-black/10 to-black/40;
}

.banner-section-a-img {
    @apply absolute left-0 top-0 w-full h-full z-0 object-cover;
}

.banner-section-a-div2 {
    @apply p-4 absolute bottom-0 left-0 z-20;
}

.banner-section-a-div-h2 {
    @apply text-3xl font-semibold text-orange-200 leading-tight;
}

.main {
    @apply lg:flex;
}

.main-div1 {
    @apply w-full m-1 lg:w-2/3;
}

.main-div2 {
    @apply w-full lg:w-1/3 px-2;
}

.section {
    @apply mr-2;
}

.section_a {
    @apply block lg:flex items-center mb-10;
}

.section_a-img {
    @apply w-full lg:h-48 lg:w-60 opacity-90 rounded object-cover lg:mr-4;
}

.section-div1 {
    @apply flex;
}

.section-h3 {
    @apply mt-3 mb-8 text-gray-700 font-bold text-2xl text-justify;
}

.section-p {
    @apply text-gray-700 text-justify indent-14;
}

.pagination-div {
    @apply mt-20 mb-10;
}

.pagination-ul {
    @apply flex justify-center;
}

.pagination-li-a-first {
    @apply inline-block py-1 px-3 border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-l-lg;
}

.pagination-li-a {
    @apply inline-block py-1 px-3 border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700;
}

.pagination-li-active {
    @apply inline-block py-1 px-3 border border-gray-300 text-blue-600 font-bold hover:bg-gray-100 font-bold;
}

.pagination-li-a-last {
    @apply inline-block py-1 px-3 border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg;
}

.devider {
    @apply border border-dotted;
}

.subscribe-div {
    @apply my-5;
}

.subscribe-h5 {
    @apply font-bold text-lg uppercase text-gray-700 mb-2 focus:outline-none focus:ring focus:ring-violet-300;
}

.subscribe-p {
    @apply text-gray-600 mb-4 focus:outline-none focus:ring focus:ring-violet-300;
}

.subscribe-input {
    @apply text-gray-700 bg-gray-100 p-2 w-full border rounded-t hover:border-gray-600 focus:outline-none focus:ring focus:ring-violet-300;
}

.subscribe-button {
    @apply px-4 py-2 bg-indigo-600 text-white rounded-b w-full hover:bg-indigo-800;
}

.topics-li {
    @apply px-1 py-4 border-y border-white hover:border-gray-200;
}

.topics-li-a {
    @apply flex items-center text-gray-600;
}

.topics-vue-span1 {
    @apply inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-green-500 to-green-700;
}

.topics-svelte-span1 {
    @apply inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-orange-500 to-orange-700;
}

.topics-angular-span1 {
    @apply inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-red-500 to-red-700;
}

.topics-react-span1 {
    @apply inline-block w-4 h-4 mr-3 bg-gradient-to-tr from-blue-500 to-blue-700;
}

.topics-span2 {
    @apply to-gray-500 ml-auto;
}

.footer {
    @apply border-t mt-10 py-10 px-2;
}

.footer-div2_1 {
    @apply mb-5 w-2/5;
}

.footer-div1 {
    @apply md:flex;
}

.footer-div2_1 {
    @apply w-full mb-5 md:w-2/5;
}

.footer-div2_2 {
    @apply w-full mb-5 md:w-2/5;
}

.footer-div2_3 {
    @apply w-full md:w-1/5;
}

.footer-h6-company {
    @apply font-semibold text-gray-700 mb-3;
}

.footer-h6-company_li_a {
    @apply inline-block text-gray-500 mb-3 hover:underline focus:outline-none focus:ring focus:ring-violet-300;
}

.footer-h6-content {
    @apply font-semibold text-gray-700 mb-3 focus:outline-none focus:ring focus:ring-violet-300;
}

.footer-h6-content_li_a {
    @apply inline-block text-gray-500 mb-3 hover:underline decoration-gray-700 underline-offset-2 focus:outline-none focus:ring focus:ring-violet-300;
}

.footer-contact-us_ul {
    @apply flex;
}

.footer-contact-us_ul_li {
    @apply mr-2;
}

.footer-contact-us-icons {
    @apply w-6 h-6 stroke-1 hover:stroke-2 fill-violet-200 hover:fill-violet-300 stroke-cyan-500 hover:stroke-cyan-700;
}

